<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhangbox.eureka.provider.dao.StudentDao" >
    <!-- 查询所有的学生信息 -->
    <select id="getStudentList" resultType="cn.zhangbox.eureka.provider.entity.Student">
        SELECT
            s.sno,
            s.sname,
            s.sex,
            s.dept,
            s.birth,
            s.age
        FROM
            student s
        WHERE
        1 = 1
        <if test="sname != null">
            and s.sname = #{sname}
        </if>
        <if test="age != null">
            and s.age = #{age}
        </if>
    </select>
</mapper>